<div id="<%= dom_id tracked_keyword %>">
  <p>
    <strong>Keyword:</strong>
    <%= tracked_keyword.keyword %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= tracked_keyword.domain %>
  </p>

</div>
