<h1><%= t('.title') %></h1>

<%= render "form", tracked_keyword: @tracked_keyword %>

<br>

<div>
  <%= link_to t('.show'), @tracked_keyword %> |
  <%= link_to t('.back'), tracked_keywords_path %>
</div>